 /* Language Button Variables (Dark Mode) */
 .language__label__dark {
    position: absolute;
    top: 0;
    left: 0;
    width: 70px !important;
    /* margin-left: 100px; */
    height: 30px;
    border: 1px solid #1A1019;
    color: #1A1019;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: 7px 7px;
    background-size: 14px;
    text-align: right;
    text-transform: uppercase;
    cursor: pointer;
  }

  .language__container--left .language__label__dark {
    padding: 12px 8px 8px 12px;
    border-radius: 25px 0 0 25px;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
  }
  
.language__container--right .language__label__dark {
    padding: 12px 8px 8px 12px;
    border-left: 0;
    border-radius: 0 25px 25px 0;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
  }
  
.language__control:hover + .language__label__dark,
.language__control:focus + .language__label__dark {
    background-color: #1a191306;
  }
  
.language__control:checked + .language__label__dark {
    background-color: #1a191306;
  }
  
.language__control:focus + .language__label__dark,
.language__control:checked:focus + .language__label__dark {
    z-index: 2;
    outline: 2px solid #85bffd;
    box-shadow: 0 0 8px #85bffd;
  }

/* Pop-out Sub Navigation (Dark Mode) */  
button.open-nav-btn__dark {
    /* font-size: 1.8rem; */
    font-size: 16px;
    cursor: pointer; 
    padding: 18px 36px 18px 36px !important;
    margin: 28px 0px 0px 0px;
    color: #1A1019;
    border: 1px solid #1A1019;
    border-radius: 40px;
    background-color: transparent;
    cursor: pointer; 
  }

  #hamburger-menu__dark {
    color: #1A1019;   
    margin: 20px 16px 20px 16px;
}
