/* Default: Large devices such as laptops, computers (greater than 1024px) *

/* <!-- Global (Content) --> */

/* Custom Font Faces */
.inter-family {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
  font-variation-settings: "slnt" 0;
}

.antonio-family {
  font-family: "Antonio", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
}

.ovo-regular {
  font-family: "Ovo", serif;
  font-weight: 400;
  font-style: normal;
}

p {
  font-size: 20px;
  color: white;
  font-family: "Inter", sans-serif;
}

h2 {
  font-size: 32px;
}

h3 {
  font-size: 22px;
  font-family: "Inter", sans-serif;
  font-weight: 300;
}

/* Body */

html {
  scroll-behavior: smooth;
}

body {
  /* background-color: #1A1019 !important; */
  background-color: #EDE4DD;
  /* font-size: calc(.5em + 1vw); */
}

#landing {
  background-color: #1A1019 !important;
}

main {
  overflow-x: hidden;
}

button {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  line-height: 1;

}

/* Navigation */
nav {
  position: relative;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1000;
}

nav * {
  display: inline;
}

.nav-float-right #site-navigation {
  margin-left: 50px;
}

/* Language Button Variables (Mid Mode) */
.language {
  width: 200px;
  height: auto;
  font-size: 16px;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  line-height: 1;
  margin: 0px 0px 0px 20px;
  cursor: pointer;
}

.language__container--left {
  position: relative;
  float: left;
  width: 80px;
  height: 30px;
  padding: 20px 5px 5px 5px;
  cursor: pointer;
}

.language__container--right {
  position: relative;
  float: left;
  width: 70px;
  height: 30px;
  padding: 20px 5px 5px 5px;
  cursor: pointer;
}

#language1-1 {
  display: none;
}

#language1-2 {
  display: none;
}

.language__label__mid {
  position: absolute;
  top: 0;
  left: 0;
  width: 70px !important;
  /* margin-left: 100px; */
  height: 30px;
  border: 1px solid #EEE17E !important;
  color: #EEE17E !important;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: 7px 7px;
  background-size: 14px;
  text-align: right;
  text-transform: uppercase;
  cursor: pointer;
}

.language__container--left .language__label__mid {
  padding: 12px 8px 8px 12px;
  border-radius: 25px 0 0 25px;
  text-align: center;
  justify-content: center;
  align-items: center;
  display: flex;
}

.language__container--right .language__label__mid {
  padding: 12px 8px 8px 12px;
  border-left: 0;
  border-radius: 0 25px 25px 0;
  text-align: center;
  justify-content: center;
  align-items: center;
  display: flex;
}

.language__control:hover+.language__label__mid,
.language__control:focus+.language__label__mid {
  background-color: #eee17e2c;
}

.language__control:checked+.language__label__mid {
  background-color: #eee17e2c;
}

.language__control:focus+.language__label__mid,
.language__control:checked:focus+.language__label__mid {
  z-index: 2;
  outline: 2px solid #85bffd;
  box-shadow: 0 0 8px #85bffd;
}

.text-hidden {
  display: none;
}

.text-on {
  display: show;
}

.text-off {
  display: none;
}

.text-shown {
  display: show !important;
}

/* Pop-out Sub Navigation */
button.open-nav-btn__mid {
  /* font-size: 1.8rem; */
  font-size: 16px;
  cursor: pointer;
  padding: 18px 36px 18px 36px !important;
  margin: 28px 0px 0px 0px;
  color: #EEE17E;
  border: 1px solid #EEE17E;
  border-radius: 40px;
  background-color: transparent;
  cursor: pointer;
}

#hamburger-menu__mid {
  color: #EEE17E;
  margin: 20px 16px 20px 16px;
}

.slide-content {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: #120A11;
  overflow-x: hidden;
  transition: width 0.5s;
  padding-top: 140px;
  visibility: hidden;
}

.slide-content a {
  padding: 8px 8px 8px 40px;
  text-decoration: none;
  font-size: 30px;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  color: #EEE17E;
  display: block;
}

.slide-content a:focus,
.slide-content button:focus {
  outline: 1px solid #eee17e00;
}

main a:focus,
.open-nav-btn:focus {
  outline: 2px solid #eee17e00;
  /* background-color: #eee17e2c; */
  outline-offset: 5px;
}

main a:hover,
.open-nav-btn:hover {
  background-color: #eee17e2c;
}

.close-btn {
  padding: 5px 36px 5px 36px;
  margin: 28px 0px 0px 0px;
  font-size: 25px;
  color: #EEE17E;
  border: 1px solid #EEE17E;
  border-radius: 40px;
  background-color: transparent;
  cursor: pointer;
}

.slide-content a:hover,
.slide-content a:focus {
  color: #eee17ea0;
}

.slide-content .close-btn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.visible {
  visibility: visible;
}

.active {
  width: 500px;
}

/* <!-- Landing Page (Content) --> */

/* Background Image Slider */
#main-bg::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
  /* Change the color and opacity as needed */
}

#main-bg {
  /* background: rgba(250,140,50, 0.6); */
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100vw;
  height: 100vh;
}

#main-bg img {
  /* background: rgba(0, 0, 0, 0.9); */
  height: 100vh;
  width: 100vw;
  object-fit: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

/* Main (Content) */

main {
  height: fit-content;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  align-self: center;
}

/* Landing Page Title */
.title-flex-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  align-self: center;
  /* position: absolute;
    left: 0; */
  height: 88vh;
  /* min-height: 86.5%; */
  width: 100vw;
  /* background-color: DodgerBlue; */
}

.title-top {
  display: flex;
  align-content: center;
  justify-content: space-between;
  align-items: flex-end;
  height: 10%;
  width: 96vw;
  font-family: "Inter", sans-serif;
  text-align: center;
  color: #EEE17E;
  /* background-color: red; */
}

.title-top h2 {
  font-family: "Inter", sans-serif;
  font-weight: 300;
  font-size: 22px;
  margin: 0px;
}

.title-middle {
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
  height: 55%;
  width: 100vw;
  font-size: calc(.5 * (6.5vh + 6.1vw));
  text-align: center;
  color: #EEE17E;
  /* background-color: purple; */
}

.title-middle h1 {
  font-family: "Antonio", sans-serif;
  font-weight: 700;
  margin: 0px;
  padding-bottom: 0px;
}

.title-bottom {
  display: flex;
  align-content: center;
  justify-content: space-between;
  align-items: flex-end;
  height: 10%;
  width: 96vw;
  text-align: center;
  color: #EEE17E;
  /* background-color: green; */
}

.title-bottom h2 {
  font-family: "Inter", sans-serif;
  font-weight: 300;
  font-size: 22px;
  margin: 0px;
}

/* Landing Page Arrow */
.landing-arrow {
  display: flex;
  align-content: flex-start;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  align-self: center;
  /* height: 10vh; */
  width: 100vw;
  /* background-color: black; */
  margin: 20px 0px 0px 0px;
}

.section-one-arrow {
  font-size: 24px;
  cursor: pointer;
  padding: 15px 48px 15px 48px !important;
  margin: 0px 0px 0px 0px;
  /* font-size: 32px; */
  color: #EEE17E;
  border: 1px solid #EEE17E;
  border-radius: 40px;
  background-color: transparent;
}

a.arrow {
  color: #EEE17E;
  text-decoration: none;
}

.section-one-arrow:hover {
  background-color: #eee17e1f;
  /* Change the color and opacity as needed */
}

/* <!-- Intro Page (Content) --> */

.intro {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  align-self: center;
  height: 100%;
  width: 100vw;
  /* min-height: 100%; */
  background-color: #EDE4DD;
}

/* Intro Page Label & Content */
.top-column {
  display: flex;
  align-content: center;
  justify-content: space-between;
  align-items: flex-start;
  height: 100%;
  width: 95%;
  color: #1A1019;
  /* background-color: red; */
  font-family: "Antonio", sans-serif;
  font-size: 24px;
  margin: 40px 0px 0px 0px;
}

.label-row {
  display: flex;
  height: 100%;
  width: auto;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  align-self: flex-start;
  padding: 0px 32px 0px 0px;
}

.page-label {
  font-size: 48px;
  margin: 0px;
}

.label-hr {
  display: block;
  /* height: 100%; */
  width: 100%;
  border: 0;
  border-top: 1.5px solid #1A1019;
  margin: 20px 0px 20px 0px;
  padding: 0;
}

.label-hr.hidden {
  display: none;
}

.row-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.row-content .introduction {
  display: flex;
  height: 100%;
  width: auto;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  align-self: flex-start;
  /* background-color: green; */
  margin: 20px 0px 40px 0px;
  padding: 0px 0px 0px 0px;
  /* background-color: #1A1019; */
}

.content-container .introduction {
  display: flex;
  height: 100%;
  width: 58%;
  justify-content: flex-end;
  align-items: flex-end;
  align-self: flex-end;
  margin: 0px 0px 0px 40px;
  font-size: 18px;
  line-height: 175% !important;
}

p.introduction {
  display: inline-block !important;
  color: black;
  overflow-wrap: normal;
  line-height: 175% !important;
}

p.introduction.sp {
  display: none !important;
}

.bottom-column {
  display: flex;
  align-content: center;
  justify-content: space-between;
  align-items: flex-start;
  height: 100%;
  width: 96%;
  color: #1A1019;
  font-family: "Antonio", sans-serif;
  font-size: 24px;
  margin: 20px 0px 0px 0px;
}

/* Intro Page Arrow */
.back-arrow {
  display: flex;
  align-content: flex-start;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  align-self: center;
  text-decoration: none;
  width: 100vw;
  margin: 0px 0px 40px 0px;
}

#intro-arrow {
  position: fixed;
  bottom: 0;
}

.section-arrow {
  font-size: 24px;
  cursor: pointer;
  padding: 15px 48px 15px 48px !important;
  margin: 0px 0px 0px 0px;
  color: #1A1019;
  border: 1px solid #1A1019;
  border-radius: 40px;
  background-color: transparent;
  text-decoration: none;
  cursor: pointer;
}

.section-arrow:hover {
  background-color: #1a191306;
}

/* <!-- Objects Main Page (Content) --> */

#objects-main-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  align-self: center;
  height: 100%;
  width: 100vw;
  background-color: #EDE4DD;
}

.row-content>div {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
}

.objects-artwork-container {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: space-between;
  align-items: flex-start;
  height: 100%;
  width: 48.5%;
  color: #1A1019;
  /* background-color: red; */
  font-family: "Antonio", sans-serif;
  font-size: 24px;
  margin: 20px 0px 0px 0px;
  overflow: hidden;
  cursor: pointer;
}

.objects-artwork-img {
  height: 400px;
  width: 610px;
  object-fit: cover;
}

img.objects-artwork-img.barbara {
  object-fit: cover;
  object-position: 0% 0;
}

img.objects-artwork-img.rafagabby {
  object-fit: cover;
  object-position: 0% 0;
}

/* SPANISH TOGGLE DISPLAY SETTINGS */

h2.sp {
  display: none !important;
}

p.sp {
  display: none !important;
}

span.sp {
  display: none !important;
}

#open-bottom-row-two > p.sp {
  display: none !important;
}

p.about.hidden.sp {
  display: none !important;
}

button.toggle-label {
  /* font-size: 1.8rem; */
  font-size: 16px;
  font-weight: 500;
  width: 100%;
  height: 100%;
  padding: 0px 0px 10px 0px !important;
  align-self: center !important;
  margin: 10px 0px 0px 0px;
  color: #1A1019;
  border: none;
  border-radius: 40px;
  background-color: transparent;
  cursor: pointer;
}

button.toggle-label.index {
  /* font-size: 1.8rem; */
  font-size: 16px;
  font-weight: 500;
  width: 100%;
  height: 100%;
  padding: 0px 0px 10px 0px !important;
  align-self: center !important;
  margin: 10px 0px 0px 0px;
  color: #EEE17E;
  border: none;
  border-radius: 40px;
  background-color: transparent;
  cursor: pointer;
}

.objects-artwork-img-copy {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: space-between;
  align-items: flex-start;
  height: 100%;
  width: 100%;
  color: #1A1019 !important;
}

.objects-artwork-img-copy>* {
  color: #1A1019;
}

.artwork-img-top-copy {
  display: flex;
  width: 100%;
  flex-direction: row;
  align-content: flex-start;
  justify-content: space-between;
  align-items: flex-start;
  color: #1A1019 !important;
}

.artwork-img-top-copy>* {
  color: #1A1019 !important;
  line-height: 150% !important;
}

.object-maker {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 36px;
  margin: 0px 0px 5px 0px;
}

button.objects-label {
  /* font-size: 1.8rem; */
  font-size: 14px;
  font-weight: 500;
  padding: 18px 36px 18px 36px !important;
  margin: 10px 0px 0px 0px;
  color: #1A1019;
  border: 1px solid #1A1019;
  border-radius: 40px;
  background-color: transparent;
  cursor: pointer;
}

.objects-label {
  display: flex;
  /* align-self: flex-end; */
  cursor: pointer;
  text-decoration: none;
}

.object-label-wrapper {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
  width: 75%;
  gap: 25px;
}

.objects-label:hover {
  background-color: transparent;
}

.label-hr.objects-small {
  width: 75%;
}

/* Objects Main Page Arrow */

#objects-arrow {
  position: fixed;
  bottom: 0;
}

#objects-arrow>div>a {
  text-decoration: none !important;
}

/* <!-- Objects Inner Pages (Global Content) --> */

#objects-inner-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  align-self: center;
  height: 100%;
  width: 100vw;
  background-color: #EDE4DD;
}

.top-column.objects-inner {
  display: flex;
  align-content: center;
  justify-content: left !important;
  align-items: flex-start;
  height: 100%;
  width: 95%;
  color: #1A1019;
  /* background-color: red; */
  font-family: "Antonio", sans-serif;
  font-size: 24px;
  margin: 40px 0px 0px 0px;
}

.row-content.object-inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
}

.objects-artwork-container.inner {
  width: 100% !important;
  cursor: default;
}

.objects-artwork-img.asco.inner {
  height: 100%;
  width: 100% !important;
}

.objects-artwork-img-copy.inner {
  flex-direction: row;
}

.artwork-img-top-copy.inner {
  flex-direction: column;
}

.artwork-h2 {
  width: 85% !important;
}

.p-under-h2 {
  width: 80% !important;
  font-size: 16px;
}

/* Artwork Material & Artist About */
#objects-main-section>div.top-column.objects-inner>div.row-content.object-inner>div>div>div:nth-child(4)>*>div {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  justify-content: space-between;
  width: 95%;
  cursor: pointer;
}

#objects-main-section>div.top-column.objects-inner>div.row-content.object-inner>div>div>div.objects-artwork-img-copy.inner.bottom-row>* {
  display: flex;
  justify-content: center !important;
  align-items: center;
  align-content: center;
  flex-direction: column;
  width: 90% !important;
}

/* Artwork Material & Artist About Paragraph Font Size Change */
#objects-main-section>div.top-column.objects-inner>div.row-content.object-inner>div>div>div.objects-artwork-img-copy.inner.bottom-row>*>*>p {
  font-size: 16px;
}

p.transparent {
  color: transparent !important;
}

p.hidden {
  display: none;
  margin-top: 30px;
  margin-bottom: 20px;
}

p.about {
  align-self: flex-end;
  color: #1A1019 !important;
  text-decoration: none;
  font-size: 16px;
  line-height: 150%;
  width: 95%;
  margin: 0px 0px 30px 0px;
}

.artist-bio {
  width: 50%;
  align-self: flex-end;
}

#objects-main-section>div.top-column.objects-inner>div.row-content.object-inner>div>div>div:nth-child(4)>*>div>* {
  color: black;
}

#open-bottom-row {
  width: 95% !important;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-self: center;
  cursor: pointer;
}

#open-bottom-row>* {
  color: #1A1019 !important;
}

#open-bottom-row-two {
  width: 48% !important;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-self: flex-end;
  cursor: pointer;
  margin: 0px 25px 0px 0px;
}

#open-bottom-row-two>* {
  display: flex;
  flex-direction: row;
  color: #1A1019 !important;
  text-decoration: none;
}

.vertical {
  transition: all 0.5s ease-in-out;
  transform: rotate(-90deg);
}

.horizontal {
  transition: all 0.5s ease-in-out;
  transform: rotate(-90deg);
  opacity: 1;
}

.opened {
  opacity: 1;
}

.vertical {
  transition: all 0.5s ease-in-out;
  transform: rotate(90deg);
}

.horizontal {
  transition: all 0.5s ease-in-out;
  transform: rotate(90deg);
  opacity: 0;
}

.horizontal {
  position: absolute;
  background-color: red;
  width: 30px;
  height: 5px;
  left: 50%;
  margin-left: -15px;
  top: 50%;
  margin-top: -2.5px;
}

.vertical {
  position: absolute;
  background-color: red;
  width: 5px;
  height: 30px;
  left: 50%;
  margin-left: -2.5px;
  top: 50%;
  margin-top: -15px;
}

/* Carousel(s) */

.carousel {
  position: relative;
  overflow: hidden;
  font-size: 2.5vmin;
  margin-bottom: 40px;
}

.carousel-slider {
  display: flex;
  transition: 0.3s;
}

.carousel-slide {
  flex: 1 0 100%;
}

.carousel-slide img {
  display: block;
  width: 100%;
  height: 36em;
  object-fit: cover;
}

.carousel button {
  font-size: inherit;
}

.carousel-prev,
.carousel-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  padding: 1em;
  border: none;
  cursor: pointer;
}

#objects-main-section>div.top-column.objects-inner>div.row-content.object-inner>div>div>div.carousel>button.carousel-prev {
  background: #ffffff70;
  color: #ffffff;
}

#objects-main-section>div.top-column.objects-inner>div.row-content.object-inner>div>div>div.carousel>button.carousel-next {
  background: #ffffff70;
  color: #ffffff;
}

.carousel-prev {
  left: 2em;
}

.carousel-next {
  right: 2em;
}

.carousel-navigation {
  position: absolute;
  bottom: 1em;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  gap: 1em;
}

.carousel-bullet {
  width: .8em;
  height: .8em;
  border: none;
  background: #ffffff85;
  cursor: pointer;
  border-radius: 50%;
}

.carousel-bullet.is-active {
  background: #ffffff;
}

/* <!-- Archives Page (Content) --> */

#archives-main-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  align-self: center;
  height: 100%;
  width: 100vw;
  background-color: #EDE4DD;
}

.archives-artwork-container {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: space-between;
  align-items: flex-start;
  height: 100%;
  /* width: 23.5%; */
  width: 32%;
  /* width: 49%; */
  color: #1A1019;
  /* background-color: red; */
  font-family: "Antonio", sans-serif;
  font-size: 24px;
  margin: 20px 0px 0px 0px;
  overflow: hidden;
  cursor: pointer;
}

.img-full-screen {
  height: 400px;
  width: 100%;
  /* width: 610px; */
  object-fit: cover;
  cursor: zoom-in !important;
}

.scroll-disabled {
  height: 100%;
  overflow: hidden;
}

.img-full-screen,
.img-placeholder {
  cursor: pointer;
}

.img-placeholder {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: none;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  background-color: rgba(0, 0, 0, 0.6);
  ;
  z-index: 999;
}

.archives-img-copy {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: space-between;
  align-items: flex-start;
  height: 100%;
  width: 100%;
  color: #1A1019 !important;
}

.archives-img-top-copy>* {
  color: #1A1019;
  font-size: 16px;
  line-height: 150% !important;
}

.archives-img-top-copy {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-content: flex-start;
  justify-content: space-between;
  align-items: flex-start;
  color: #1A1019 !important;
}

.archives-img-top-copy.extra-short {
  height: 200px !important;
}

.archives-img-top-copy.short {
  height: 250px !important;
}

.archives-img-top-copy.medium {
  height: 300px !important;
}

.archives-img-top-copy.long {
  height: 385px !important;
}

.archives-small {
  display: none;
}

.archives-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  border-bottom: 1.5px solid #1A1019;
  z-index: 500;
  /* padding-bottom: 10px; */
}

button.archive-label {
  /* font-size: 1.8rem; */
  font-size: 14px;
  font-weight: 500;
  padding: 18px 36px 18px 36px !important;
  margin: 10px 0px 0px 0px;
  color: #1A1019;
  border: 1px solid #1A1019;
  border-radius: 40px;
  background-color: transparent;
  cursor: pointer;
}

.archive-label {
  display: flex;
  /* align-self: flex-end; */
  cursor: pointer;
  text-decoration: none;
}

.archive-label:hover {
  background-color: transparent;
}

/* <!-- Resources Page (Content) --> */

#resources-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  align-self: center;
  height: 100%;
  width: 100vw;
  background-color: #EDE4DD;
}

.row-content.resources {
  width: 68%;
  align-items: flex-end;
}

.content-container.resources {
  display: block;
  flex-direction: column;
  width: 59%;
}

.resources-list {
  display: flex;
  width: 100%;
  /* margin-top: 40px; */
  flex-direction: column;
}

.resources-title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: auto !important;
  cursor: pointer;
  padding: 0px 20px 0px 20px;
}

.font-change {
  font-family: "Inter", sans-serif !important;
}

h3.resources {
  color: black;
  stroke: 5px solid black;
  /* font-family: "Ovo", serif; */
  font-size: 24px;
}

p.resources {
  display: inline-block;
  color: black;
  font-family: "Ovo", serif;
  line-height: 28px;
  font-size: 16px;
  white-space: initial;
  /* width: 90% !important; */
  overflow-wrap: normal;
}

.resources.hidden {
  display: none;
  width: 90% !important;
}

a.resources {
  color: black;
  font-family: "Ovo", serif;
  font-size: 16px;
  background-color: transparent;
}

a.resources:hover {
  font-style: italic;
  background-color: transparent;
}

.italics {
  font-style: italic;
  white-space: normal;
}

.list-01 {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-self: flex-end;
  align-content: space-between;
  overflow-wrap: break-word;
  width: 100%;
}

.digital-archives {
  overflow-wrap: normal;
}

.list-02 {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-self: flex-end;
  align-content: space-between;
  overflow-wrap: break-word;
  width: 100%;
}

.books-articles {
  white-space: wrap;
}

.list-03 {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-self: flex-end;
  align-content: space-between;
  overflow-wrap: break-word;
  width: 100%;
}

.interviews-profiles {
  white-space: initial !important;
}

/* Resources Main Page Arrow */

#resources-arrow {
  position: fixed;
  bottom: 0;
}

#resources-arrow>div>a {
  text-decoration: none !important;
}

/* <!-- Dialogues Page (Content) --> */

#dialogues-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  align-self: center;
  height: 100%;
  width: 100vw;
  background-color: #EDE4DD;
}

.row-content.dialogues {
  width: 85%;
  align-items: flex-start;
}

.content-container.dialogues {
  display: block;
  flex-direction: row !important;
  width: 100%;
}

.dialogues-artist-list {
  display: flex;
  width: 100%;
  flex-direction: column;
}

.dialogues-title-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-self: flex-start;
  align-content: space-between;
  overflow-wrap: break-word;
  width: 55%;
}

.dialogues-title {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  cursor: pointer;
  border-bottom: 1.5px solid black;
  /* border-right: 1.5px solid black; */
}

.title-container {
  display: flex;
  justify-content: space-between;
  padding: 10px 20px 10px 20px;
}

.dialogues-artists-list {
  display: flex;
}

.dialogues-copy-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-self: flex-start;
  align-content: space-between;
  overflow-wrap: break-word;
  width: 100%;
  height: 30%;
  overflow: hidden !important;

}

p.dialogues {
  display: inline-block;
  color: black;
  /* font-family: "Ovo", serif; */
  line-height: 150% !important;
  font-size: 16px;
  font-family: "Ovo", serif;
  /* white-space: nowrap; */
  /* width: 60% !important; */
  overflow-wrap: normal;
}

.dialogues-copy {
  display: flex;
  flex-direction: column;
  width: 80%;
  align-self: center;
  overflow-wrap: normal;
  line-height: 150% !important;
  padding: 0px 20px 0px 20px;
}

.moderator {
  font-family: "Ovo", serif;
  width: 70%;
  align-self: center;
  line-height: 150% !important;
  /* padding: 0px 20px 0px 20px; */
}

.moderator.hidden {
  display: none;
}

.first-person {
  font-family: "Ovo", serif;
  width: 70%;
  line-height: 150% !important;
  /* padding: 0px 20px 0px 20px; */
}

.first-person.hidden {
  display: none;
  flex-direction: column;
  width: 80%;
  align-self: center;
  overflow-wrap: normal;
  line-height: 150% !important;
  padding: 0px 20px 0px 20px;
}

.second-person {
  align-self: flex-end !important;
  font-family: "Ovo", serif;
  width: 65%;
  align-self: flex-end;
  line-height: 150% !important;
  /* padding: 0px 20px 0px 20px; */
}

.second-person.hidden {
  display: none;
}

.end.hidden {
  display: none;
}

#patssi-mario.hidden {
  display: none;
}

#timoi-ladypink.hidden {
  display: none;
}

#yreina-judithe.hidden {
  display: none;
}


/* Dialogues Main Page Arrow */

#dialogues-arrow {
  position: fixed;
  bottom: 0;
}

#dialogues-arrow>div>a {
  text-decoration: none !important;
}

/* <!-- Credits Page (Content) --> */

#credits-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  align-self: center;
  height: 100%;
  width: 100vw;
  background-color: #EDE4DD;
}

.row-content.credits {
  width: 88%;
  align-items: flex-end;
}

.content-container .credits {
  display: block;
  width: 45%;
}

#credits-section>div>div.row-content.credits>div {
  flex-direction: row !important;
}

.credits-list {
  display: flex;
  width: 48%;
  /* width: 100%;
  max-width: 100%; */
  /* margin-top: 40px; */
  flex-direction: column;
}

p.credits {
  display: inline-block;
  color: black;
  /* font-family: "Ovo", serif; */
  /* line-height: 32px; */
  font-size: 16px;
  overflow-wrap: normal;
  width: 100% !important;
  max-width: 100% !important;
}

p.curators {
  display: inline-block;
  color: black;
  /* font-family: "Ovo", serif; */
  line-height: 150% !important;
  font-size: 16px;
  overflow-wrap: normal;
  width: 100% !important;
  max-width: 100% !important;
}

p.thanks {
  display: inline-block;
  color: black;
  /* font-family: "Ovo", serif; */
  line-height: 150% !important;
  font-size: 16px;
  overflow-wrap: normal;
  width: 100% !important;
  max-width: 100% !important;
  border-bottom: 1.5px solid #1A1019;
}

p.credits.title {
  width: auto !important;
  padding: 0px 20px 0px 20px;
  cursor: pointer;
  line-height: 150%;
}

a.credits {
  color: black;
  font-family: "Ovo", serif;
  font-size: 18px;
  background-color: transparent;
}

a.credits:hover {
  font-style: italic;
  background-color: transparent;
}

a.thanks {
  color: black;
  font-size: 16px;
  background-color: transparent;
  z-index: 500;
}

a.thanks:hover {
  font-style: italic;
  background-color: transparent;
}

.list-01.credits {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-self: flex-end;
  align-content: space-between;
  overflow-wrap: break-word;
  width: 100%;
}

.credits-title-one {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100% !important;
  cursor: pointer;
}

.list-02.credits {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-self: flex-end;
  align-content: space-between;
  overflow-wrap: break-word;
  width: 100%;
}

.credits-title-two {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100% !important;
  cursor: pointer;
}

.list-03.credits {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-self: flex-end;
  align-content: space-between;
  overflow-wrap: break-word;
  width: 100%;
}

.credit-bios {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  width: 98%;
}

.credit-bios.special-thanks {
  width: 88%;
}

.curators.hidden {
  display: none;
}

.credits.hidden {
  display: none;
}

.thanks.hidden {
  display: none;
}

.credit-logos-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
  gap: 1em;
  flex-wrap: wrap;
  width: 100%;
  /* height: 150px; */
}

.credit-logos {
  display: flex;
  width: 150px;
  height: auto;
  /* padding-right: 25px; */
}

/* Credits Main Page Arrow */

#credits-arrow {
  position: fixed;
  bottom: 0;
}

#credits-arrow>div>a {
  text-decoration: none !important;
}

/* .artist-bio {
  display: none !important;
} */

/* <!-- Teaching Guides Page (Content) --> */

#guides-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  align-self: center;
  height: 100%;
  width: 100vw;
  background-color: #EDE4DD;
}

.row-content.guides {
  width: 75%;
  align-items: flex-end;
}

.content-container .guides {
  display: block;
  width: 45%;
}

#guides-section>div>div.row-content.guides>div {
  width: 100% !important;
}

.guides-list {
  display: flex;
  width: 48%;
  /* width: 100%;
  max-width: 100%; */
  /* margin-top: 40px; */
  flex-direction: column;
  z-index: 500;
}

.list-01.guides {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-self: flex-end;
  align-content: space-between;
  overflow-wrap: break-word;
  width: 100%;
}

#guides-title-one {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100% !important;
}

.list-02.guides {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-self: flex-end;
  align-content: space-between;
  overflow-wrap: break-word;
  width: 100%;
}

#guides-title-two {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100% !important;
}

.guides-copy {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  width: 98%;
  line-height: 24px;
}

p.guides {
  display: inline-block;
  color: black;
  /* font-family: "Ovo", serif; */
  line-height: 150% !important;
  font-size: 16px;
  overflow-wrap: normal;
  width: 100% !important;
  max-width: 100% !important;
}

p.guides.hidden {
  display: none;
  margin-top: 30px;
  margin-bottom: 20px;
}

p.guides.title {
  width: auto !important;
  padding: 0px 20px 0px 20px;
  cursor: pointer;
  line-height: 175% !important;
}

.guides-img-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
  gap: 1em;
  flex-wrap: wrap;
  width: 100%;
  /* height: 150px; */
}

.guides-imgs {
  display: flex;
  width: 100%;
  height: auto;
  /* padding-right: 25px; */
}

.guides-bold {
  line-height: 250%;
}

/* Medium devices such as tablets (1020px or lesser) */

@media only screen and (max-width: 1020px) {

  h2 {
    margin-bottom: 0px;
  }

  .bottom-column {
    width: 92%;
  }

  .label-row {
    width: auto !important;
  }

  /* <!-- Intro Page (Content) --> */

  .title-flex-container {
    width: 95% !important;
  }

  .title-top {
    width: 100% !important;
  }

  .title-middle {
    width: 100% !important;
  }

  .content-container .introduction {
    width: 100% !important;
    font-size: 18px;
    line-height: 150% !important;
    margin: 0px 0px 0px 0px;
  }

  .content-container .introduction>p {
    width: 100% !important;
  }

  .top-column.intro {
    flex-direction: column;
  }

  /* <!-- Objects Main Page (Content) --> */

  .top-column {
    width: 92%;
  }

  /* label hr second class */
  .objects-main {
    width: 87% !important;
  }

  .object-maker {
    width: 95% !important;
  }

  .row-content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    /* width: 80vw !important; */
  }

  .content-container.objects-inner {
    display: flex;
    width: 87% !important;
    justify-content: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
  }

  .objects-artwork-container {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: space-between;
    align-items: flex-start;
    height: 100%;
    width: 100%;
    color: #1A1019;
    /* background-color: red; */
    font-family: "Antonio", sans-serif;
    font-size: 24px;
    margin: 20px 0px 0px 0px;
    overflow: hidden;
    cursor: pointer;
  }

  /* <!-- Objects Inner Pages (Global Content) --> */

  .top-column.objects-inner {
    width: 92%;
  }

  .content-container.objects-inner {
    width: 100% !important;
  }

  .carousel {
    position: relative;
    overflow: hidden;
    font-size: 2.5vmin;
    margin-bottom: 0px;
  }

  .objects-artwork-img-copy.inner {
    flex-direction: column;
  }

  .artwork-img-top-copy.inner>p {
    font-size: 16px !important;
    line-height: 150% !important;
  }


  #objects-main-section>div.top-column.objects-inner>div.row-content.object-inner>div>div>div.objects-artwork-img-copy.inner.bottom-row>* {
    width: 100% !important;
  }

  #open-bottom-row-two {
    width: 95% !important;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-self: flex-end;
    cursor: pointer;
    margin: 0px 25px 0px 0px;
  }

  .artist-bio {
    width: 96%;
    align-self: flex-start;
    margin: 0px 25px 0px 8px;
  }

  p.about {
    width: 100%;
  }

  .label-hr.objects-small {
    width: 100% !important;
  }

  .object-label-wrapper {
    width: 100%;
    gap: 25px;
    margin: 0px 0px 20px 0px;
    padding-bottom: 30px;
    border-bottom: 1.5px solid #1A1019;
  }

  /* <!-- Archive Page (Content) --> */

  .top-column.archives {
    flex-direction: column;
  }

  .archives-content {
    width: 100% !important;
    z-index: 1000;
  }

  .archives-artwork-container {
    width: 100% !important;

  }

  .archives-small {
    display: block;
  }

  .archives-wrapper {
    flex-direction: column;
    border-bottom: none;
    height: max-content;
    /* padding-bottom: 10px; */
  }

  .archives-img-top-copy.extra-short {
    height: auto !important;
  }
  
  .archives-img-top-copy.short {
    height: auto !important;
  }
  
  .archives-img-top-copy.medium {
    height: auto !important;
  }
  
  .archives-img-top-copy.long {
    height: auto !important;
  }
  
  /* .archives-small {
    display: none;
  } */

  /* <!-- Resources Page (Content) --> */

  .content-container.resources {
    width: 100% !important;
  }

  /* p.resources {
  white-space: pre-line;
} */

  .top-column.resources {
    width: 88% !important;
    flex-direction: row !important;
    /* margin: 40px 0px 40px 0px; */
  }

  /* <!-- Dialogues Page (Content) --> */

  .content-container.dialogues {
    width: 100% !important;
  }

  .label-hr.dialogues-top {
    margin-bottom: 0px;
  }

  .dialogues-artists-list {
    flex-direction: column;
  }

  .dialogues-title-container {
    width: 100% !important;
  }

  .dialogues-copy {
    width: 100%;
    margin-top: 20px;
  }

  /* <!-- Guides Page (Content) --> */

  .top-column.guides {
    width: 92%;
    flex-direction: column;
  }

  .row-content.guides {
    width: 100%;
    align-items: flex-end;
  }

  #guides-section>div>div.row-content.guides>div {
    width: 100% !important;
    flex-direction: column;
    gap: 0px;
  }

  .guides-list {
    display: flex;
    width: 100%;
    /* margin-top: 40px; */
    flex-direction: column;
  }

  /* <!-- Credits Page (Content) --> */

  #objects-main-section>div>div.row-content.credits>div {
    width: 100% !important;
  }

  .list-01.credits,
  .list-02.credits,
  .list-03.credits {
    width: 100% !important;
  }

  .top-column.resources {
    flex-direction: row !important;
  }

  .credit-logos-wrapper {
    gap: 1em !important;
    padding-bottom: 20px !important;
  }


}

/* Small devices such as phones (768px or lesser) */

@media only screen and (max-width: 768px) {

  /* <!-- Global (Content) --> */

  #slide-nav {
    width: 425px;
  }

  .slide-content a {
    padding: 8px 8px 8px 40px;
    text-decoration: none;
    font-size: 26px;
    font-family: "Inter", sans-serif;
    font-weight: 500;
    color: #EEE17E;
    display: block;
  }

  .back-arrow {
    position: static !important;
  }

  /* <!-- Intro Page (Content) --> */

  .title-flex-container {
    width: 92% !important;
    height: 100% !important;
    margin: 80px 40px 40px 40px;
  }

  .top-column.intro {
    width: 88% !important;
  }

  .title-top {
    width: 100%;
    height: 100% !important;
    align-items: center;
    margin: 20px 0px 20px 0px;
  }

  .title-top>h2 {
    font-size: 14px;
    width: 75%;
  }

  .title-middle {
    margin-bottom: 10px;
  }

  .title-middle h1 {
    font-family: "Antonio", sans-serif;
    font-weight: 700;
    margin: 0px;
    padding-bottom: 0px;
    line-height: 115%;
    font-size: 70px !important;
  }

  .title-bottom {
    width: 100%;
    align-items: center;
    margin: 20px 0px 20px 0px;
  }

  .title-bottom>h2 {
    font-size: 14px;
    width: 100%;
    line-height: 150% !important;
  }


  .row-content .introduction {
    width: 100% !important;
    margin: 10px 0px 20px 0px;
  }

  /* <!-- Objects Main Page (Content) --> */

  .top-column.objects {
    flex-direction: column;
    width: 88%;
  }

  .row-content.objects {
    width: 100% !important;
  }

  .content-container.objects {
    width: 100% !important;
  }

  .objects-artwork-container>img {
    width: 100% !important;
  }

  #objects-main-section>div.top-column.objects>div.row-content.objects>div>div:nth-child(2)>div:nth-child(1)>img {
    width: 100% !important;
  }

  .objects-main {
    width: 100% !important;
    margin: 20px 0px 10px 0px;
  }

  .object-maker {
    width: 80%;
    white-space: pre-line;
  }

  /* <!-- Objects Inner Pages (Global Content) --> */

  .top-column.objects-inner {
    width: 88%;
    flex-direction: column;
  }

  .row-content.object-inner {
    width: 100%;
  }

  .artwork-img-top-copy.inner>p {
    font-size: 16px !important;
  }

  .artwork-img-top-copy>h2 {
    width: 90%;
    white-space: pre-line;
  }

  #open-bottom-row-two {
    width: 95% !important;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-self: flex-end;
    cursor: pointer;
    margin: 0px 10px 0px 0px;
  }

  p.about {
    width: 95%;
  }

  /* <!-- Resources Page (Content) --> */

  .label-row {
    width: 100%;
  }

  .top-column.resources {
    width: 88%;
    flex-direction: column !important;
    /* margin: 40px 0px 40px 0px; */
  }

  .row-content.resources {
    width: 100%;
    align-items: flex-end;
    /* margin-bottom: 40px; */
  }

  /* <!-- Dialogues Page (Content) --> */

  .top-column.dialogues {
    width: 88%;
    flex-direction: column !important;
  }

  .row-content.dialogues {
    width: 100%;
    align-items: flex-start;
  }

  /* <!-- Guides Page (Content) --> */

  .top-column.guides {
    width: 88%;
    flex-direction: column;
    margin: 40px 0px 40px 0px;
  }

  .row-content.guides {
    width: 100%;
    align-items: flex-start;
  }

  .guides-copy {
    width: 100%;
  }

  /* <!-- Credits Page (Content) --> */

  .top-column.credits {
    width: 88%;
    flex-direction: column;
  }

  .row-content.credits {
    width: 100%;
    align-items: flex-end;
  }

  .credits-list {
    display: flex;
    width: 100%;
  }

  .credit-bios.special-thanks {
    width: 100%;
  }

  .credit-logos-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    align-content: flex-start;
    gap: 1.5em;
    flex-wrap: wrap;
    width: 100%;
    /* height: 150px; */
    padding-bottom: 40px;
    border-bottom: 1.5px solid #1A1019;
  }


}